.loggin-modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 25vw;
  }
  
  .modal-content {
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    display: block;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
  }
  
  .close-btn {
    background-color: #ccc;
  }
  
  .login-btn {
    background-color: #4caf50;
    color: white;
  }