<div class="loggin-modal">
    <div class="modal-content">
      <h2>Sign up</h2>
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password">
        
        <div class="button-container">
          <button type="button" routerLink="" class="close-btn">Close</button>
          <button type="submit" routerLink="/loggin" class="login-btn">Sign in</button>
        </div>
      </form>
    </div>
  </div>
  