<div class="loggin-modal">
  <div class="modal-content">
    <h2>Sign in</h2>
    <form>
      <label for="username">Username or Email:</label>
      <input type="text" id="username" name="username" placeholder="Username or Email">
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password">
      
      <div class="button-container">
        <a routerLink="/sign-up">
          <button type="button" class="close-btn">Sign up</button>
        </a>
        <button type="submit" class="register-btn">Sign in</button>
      </div>
    </form>
  </div>
</div>
