<!-- sign-up.component.html -->

<div class="loggin-modal">
    <div class="modal-content">
        <h2>Sign up</h2>
        <form (ngSubmit)="onSubmit()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Username" />

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" />

            <div class="button-container">
                <a>
                    <button type="button" routerLink="/loggin" class="close-btn">Sign in</button>
                </a>
                <button type="submit" class="login-btn">Sign up</button>
            </div>
        </form>
    </div>
</div>