<div class="catalogue-container">
  <button class="nav-arrow left-arrow" (click)="moveLeft()">
    <div class="nav-text">&lt;</div>
  </button>
  <div class="catalogue-shirts">
    <div class="shirt" *ngFor="let shirt of visibleShirts; let i = index">
      <img
        [src]="shirt.imageSrc"
        [alt]="shirt.name"
        [width]="shirt.width"
        [height]="shirt.height"
      />
      <h2>{{ shirt.name }}</h2>
      <p>{{ shirt.description }}</p>
      <span>Price: {{ shirt.price }}</span>
    </div>
  </div>
  <button class="nav-arrow right-arrow" (click)="moveRight()">
    <div class="nav-text">&gt;</div>
  </button>
</div>
