.catalogue-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
}

.catalogue-shirts {
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  width: 100%; 
  margin: 0 auto; 
}


.shirt {
  width: 300px;
  padding: 20px;
  border: 1px solid #000000;
  text-align: center;
  background: rgb(255, 255, 255);
  margin-right: 10px;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #dadada;
  color: #000;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.nav-text{
  margin-top: -7px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.shirt img {
  max-width: 100%;
}

.shirt h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.shirt p {
  font-size: 1rem;
}

.shirt span {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 767px) {
  .catalogue-shirts {
    display: block;
    overflow-x: hidden;
  }

  .shirt {
    margin-bottom: 10px;
  }

  .nav-arrow {
    display: none;
  }
}

.shirt-container {
  position: relative;
  display: inline-block;
}

.shirt-image{
  z-index: 1
}

.pokemon-overlay {
  position: absolute;
  z-index: 2;
}

.color-buttons {
  display: flex;
  flex-wrap: wrap;
}

.color-buttons button {
  width: 5px;
  height: 5px;
  margin: 2px;
  border: none;
  cursor: pointer;
}

.white { background-color: rgb(202, 202, 202); }
.gray { background-color: gray; }
.black { background-color: black; }
.pink { background-color: pink; }
.red { background-color: red; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.lightblue { background-color: lightblue; }
.blue { background-color: blue; }
.purple { background-color: purple; }
