<div class="catalogue-container">
  <button class="nav-arrow left-arrow" (click)="moveLeft()">
    <div class="nav-text">&lt;</div>
  </button>
  <div class="catalogue-shirts">
    <div class="shirt" *ngFor="let shirt of visibleShirts; let i = index">
      <div
        class="shirt-container"
        [style.width.px]="shirt.width"
        [style.height.px]="shirt.height"
      >
      <div class="color-buttons">
        <button (click)="changeColor('white', i)" class="white"></button>
        <button (click)="changeColor('gray', i)" class="gray"></button>
        <button (click)="changeColor('black', i)" class="black"></button>
        <button (click)="changeColor('pink', i)" class="pink"></button>
        <button (click)="changeColor('red', i)" class="red"></button>
        <button (click)="changeColor('orange', i)" class="orange"></button>
        <button (click)="changeColor('yellow', i)" class="yellow"></button>
        <button (click)="changeColor('green', i)" class="green"></button>
        <button (click)="changeColor('lightblue', i)" class="lightblue"></button>
        <button (click)="changeColor('blue', i)" class="blue"></button>
        <button (click)="changeColor('purple', i)" class="purple"></button>
      </div>
      
        <img
          class="shirt-image"
          [src]="shirt.imageSrc"
          [alt]="shirt.name"
          [width]="shirt.width"
          [height]="shirt.height"
          [style.background-color]="shirt.color"
        />
        <img
          class="pokemon-overlay"
          *ngIf="shirt.pokemonOverlaySrc"
          [src]="shirt.pokemonOverlaySrc"
          [alt]="'Pokemon Overlay'"
          [width]="shirt.widthPokemon"
          [height]="shirt.heightPokemon"
          [style.left.px]="(shirt.width - shirt.widthPokemon) / 2"
          [style.top.px]="(shirt.height - shirt.heightPokemon) / 2"
        />
        <h2>{{ shirt.name }}</h2>
        <p>{{ shirt.description }}</p>
        <span>Price: {{ shirt.price }}</span>
      </div>
    </div>
  </div>
  <button class="nav-arrow right-arrow" (click)="moveRight()">
    <div class="nav-text">&gt;</div>
  </button>
</div>
